/* ak-utilities-shadow.css */

.ak-shadow-none { box-shadow: var(--ak-shadow-none); }
.ak-shadow-sm { box-shadow: var(--ak-shadow-sm); }
.ak-shadow-base { box-shadow: var(--ak-shadow-base); }
.ak-shadow-md { box-shadow: var(--ak-shadow-md); }
.ak-shadow-lg { box-shadow: var(--ak-shadow-lg); }
.ak-shadow-xl { box-shadow: var(--ak-shadow-xl); }
.ak-shadow-2xl { box-shadow: var(--ak-shadow-2xl); }
.ak-shadow-inner { box-shadow: var(--ak-shadow-inner); }